*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 98%);
    font-size: 15px;
}
header{
    margin: 50px auto;
    max-width: 480px;
    text-align: center;
}
h1{
    font-weight: 200;
    margin: 0;
}
h1 span{
    font-weight: 600;
}
p{
    color: hsl(229, 6%, 66%);
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box{
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05), 0 6px 6px rgba(0,0,0,0.23);
    padding: 30px;
    margin: 10px;
    border-radius: 5px;
    width: 350px;
    position: relative;
    overflow: hidden;
}
.red-box::after{
    background-color: hsl(0, 78%, 62%);
}
.cyan-box::after{
    background-color: hsl(180, 62%, 55%);
}
.blue-box::after{
    background-color: hsl(212, 86%, 64%);
}
.orange-box::after{
    background-color: hsl(34, 97%, 64%);
}
.box img{
   display: block;
   margin-left: auto;
}
.box::after{
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
}
.box p{
    margin-top: 10px;
    margin-bottom: 30px;
}
.center{
    transform: translateY(50%);
}

@media (max-width: 765px){
    .center{
        transform: translateY(0);
    }
}
